<div class="body">
    <div class="main">
        <span class="setting">
            <%= render partial: 'upper_image/index' %>
            <%= render 'down_image/index' %>
            
            <p class="set-btn">CHANGE
                <%# <%=link_to "CHANGE",class="change", id="fashion-change" %> %>
            </p>
        </span>
    </div>
</div>