* {
    box-sizing: border-box;
  }
.header{
    background-color:skyblue;
    position:fixed;
    height:   60px;
    width:    100%;
    top:         0;
    &__bar{
        justify-content: space-between;
        display: flex;
        height:  100%;
        width:   100%;
        .user_nav{
            .user__info{
                height: 60px;
                li{
                    height: 100%;
                    a{
                        text-decoration: none;
                        margin:    0 0 0 15px;
                        line-height:  60px;
                        text-align: center;
                        font-size:24px;
                        height:  100%;
                        width:   100%;
                        color:white;
                    }   
                }
            }
        }
        .user_nav{
            display: flex;
            width:  320px;
            .user__info{
                font-size:24px;
                height:   50px;
                li{
                    line-height:  60px;
                    text-align: center;
                    display: flex;
                    height:  25px;
                    width:   100%;
                }
                a{
                    text-decoration: none;
                    display: inline-block;
                    white-space:   nowrap;
                    margin:    0 0 0 15px;
                    height:  100%;
                    width:   100%;
                    color:white;
                }
            }
        }
        .dropdown{  
            margin:0 20px 0 0;
            height:      60px;  
            width:      180px;
            .dropdown_btn{
                background-color: skyblue;
                color: white;
                border:  none;
                height:  100%;
                width:   100%;
                line-height: 60px;
                font-size:   30px;
                &:hover{
                    background-color: rgb(93, 232, 241);
                    cursor: pointer;
                }
                .menulist{
                    .menu{
                        background-color: skyblue;
                        border:   1px solid white;
                        line-height:  60px;
                        font-size:30px;
                        padding:     0;
                        height:   100%;
                        width:    100%;
                        &:hover{
                            background-color: rgb(93, 232, 241);
                            cursor: pointer;
                        }
                        a{
                            text-decoration:none;
                            text-align:   center;
                            font-size:      30px;
                            color:       white;
                        }
                    }
                }
            }
        }
    }
}
.main{
    background-color: beige;
    margin:60px 0 20px 0;
    padding:    10px;
    overflow: scroll;
    height:100vh;
    width:  100%;

    .setting{
        height:  100%;
        width:   100%;
        margin:  auto;
        display: flex;
        flex-direction: column;
        align-items:    center;
        .upper-image{
            height: 350px;
            width:  400px;
        }
        .down-image{
            height: 550px;
            width:  400px;
        }
        .image_new{
            border: 1px solid black;
            text-align: center;
        }
    }
    .set_btn{
        margin:  0 auto;
        font-size: 50px;
        .change_btn{
            background-color: transparent;
            border-radius: 10px;
            font-size: 30px;
            height:    60px;
            width:     100%;
            &:hover{
                background-color: gray;
            }
            a{
                text-decoration: none;
                color:black;
            }
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        .image_new{
            border-radius: 10px;
            margin:    auto;
            font-size: 40px;
            height:   400px;
            width:    400px;
            &:hover{
                background-color: darkorange;
                opacity:   0.5;
                transition: 1s;
            }
            .image_box{
                display:  none;
                height:   100%;
                width:    100%;
                position: relative;
            }
            .select_imagefile{
                display:  block;
                font-size: 20px;
                height:    100%;
                width:    400px;
            }
        }
        .new_submit_btn{
            margin:  auto;
            height: 100px;
            width:  200px;
            input{
                background-color: transparent;
                border-radius: 20px;
                font-size:  30px;
                height:     50px;
                width:     150px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
.footer{
    background-color:black;
    text-align:  center;
    position:fixed;
    color: white;
    font-size:12px;
    bottom:   0;
    height:20px;
    width: 100%;
}
