 <div class="form">
  <%= form_with(model: @image, local: true) do |form| %>
    <%= render partial:"form", locals:{form:form} %>
    <div class="new_submit_btn">
      <%= form.submit "更新する" %>
    </div>
  <% end %>
</div> 