<div class="form">
  <%= form_with(model: @image, local: true) do |form| %>
    <div class="image_new upper_image_new">

      <label class: image_box upper_image_box>
      <h2>SHIRTを選択</h2>
      <%= form.file_field :upper_image, {class: "select_imagefile"}%> 
      </label>
      <%# <img class="upper_image_new"> %>
    </div>

    <div class="image_new down_image_new">
      <label class: image_box down_image_box>
      <h2>PANTSを選択</h2>
      <%= form.file_field :down_image, {class: "select_imagefile"}  %>
      </label>
    </div>
    <div class="new_submit_btn">
      <%= form.submit "登録する" %>
    </div>
  <%end%>
</div>