<div class="form">

  <%= form_with(model: @image, local: true) do |form| %>
    <%= render partial:"form", locals:{form:form} %>
    <div class="submit_btn new_submit_btn">
      <%= form.submit "登録する" %>
    </div>
  <%end%>

</div>