<div class="form">
  <%= form_with(model: @image, local: true) do |form| %>
    <div class="image_new upper_image_new">
      <h2>SHIRT</h2>
      <label class: image_box upper_image_box>
      <p class="image_preview upper_image_preview"></p>
      <%= form.file_field :upper_image, {class: "select_imagefile"}%> 
      </label>      
    </div>

    <div class="image_new down_image_new">
      <h2>PANTS</h2>
      <label class: image_box down_image_box>
      <div class="image_preview upper_image_preview"></div>
      <%= form.file_field :down_image, {class: "select_imagefile"}  %>
      </label>
    </div>
    <div class="new_submit_btn">
      <%= form.submit "更新する" %>
    </div>
  <%end%>
</div>